.cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.custom-svg {
  fill: currentColor;

  &__stroke {
    stroke: currentColor;
  }
}

table {
  font-family: "Roboto", sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.even tr:nth-child(even) {
  background-color: #eeeeee;
}

.menu-icon {
  width: 26px;
  height: 18px;
}

.cert,
.example {
  section {
    max-width: 800px;
  }
}